.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;

  position: relative;

  &:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

  .ad-card {
    width: 80%;
    margin: 50px auto;



    p{
      display: inline-block;
      width:60%;
      min-width: 200px;

      // background-color: red;
    }
  }
}

.doc-banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
}

.ad-card{
  .logo {
    width: 200px;
    height: 200px;
    // background-color: white;
    margin: auto;
  }
}

.p-center{
  display: inline-block;
  width:60%;
  min-width: 200px;

  // background-color: red;
}

.smooth-nav {
  position: fixed;
  top: 50%;
  margin-top:-150px;
  right: 0;
  width: 40px;
  height: 300px;
  // background-color: red;
  z-index: 1000;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {

      /*background-color:green;*/

      margin: 26px 0;
      text-align: right;
      &:hover{
        a{
          transform: scale(1.2);
          span{
            background-color: rgba(#19e3b1,.2);
            width:70px;
            border-radius: 10px;
            opacity: 1;
          }
        }
      }

      a{
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 1px solid #19e3b1;
        position: relative;
        background-color:white;

        transform: scale(.8);
        transition: all .3s ease-out;

        span{
          // background-color:red;
          color:black;
          // font-weight: bold;
          // text-shadow: 1px -1px 1px #19e3b1;
          width:50px;
            transform: scale(.8);
          padding: 3px;
          border-radius: 3px;
          word-wrap: normal;
          font-size: 14px;
          margin-top: -4px;
          position: absolute;
          right:20px;
          opacity: 0;
          // width:0;
          overflow: hidden;
          transition: all .3s ease-out;
          text-align: center;
        }



      }

      &.active {
        a{
          background-color: rgba(#19e3b1,.7);
        }

      }

    }
  }
}



// contact

.media-card{
  width:80%;
  min-width: 250px;
  margin: 10px auto;
}
//footer

.mdz-footer{
  ul{
    margin:0;
    padding: 0;
    list-style: none;

    // text-align: left;

    li{
      &:hover{
        background-color:white;
      }

      a{
        padding:8px;
      }
    }
  }
}


.ad-nav{
  .ad-btn{
    margin:0 -2px !important;

  }
}


// airMedia CSS

.ad-album {
  width: 210px;
  display: inline-block;
  text-align: center;
  margin: 0;
  /* background-color:red; */ }
  .ad-album .ad-card {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative; }
    .ad-album .ad-card .action-button {
      display: block;
      position: absolute;
      right: 24px;
      bottom: 24px;
      text-align: center;
      width: 50px;
      height: 50px; }
      .ad-album .ad-card .action-button button.ad-btn {
        opacity: .6; }
        .ad-album .ad-card .action-button button.ad-btn:hover {
          opacity: 1; }
  .ad-album small {
    opacity: .5; }




// airDesign CSS

.colorPallate{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin:10px;
    border:1px solid white;
  }


  .colorPallate.prim{
    background-color: #28d0ea;

  }

  .colorPallate.pink{
    background-color:#ff0066;

  }

  .colorPallate.tgreen{
    background-color: #19e3b1;
  }


  .colorPallate.dark{
    background-color: #222c37;

  }


  .colorPallate.yellow{
    background-color: #fff600;

  }
